In [1]:
# imports
import pandas as pd
# import Numpy 
import numpy as np

In [2]:
# read data
# read small dataset (random sample)
md = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/movies_small.csv', low_memory=False)
# load credits
cr = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/credits_small.csv')
# load keywords 
kw = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/keywords_small.csv')

In [3]:
# type
print(type(md))

<class 'pandas.core.frame.DataFrame'>

In [4]:
# shape
print(md.shape)

(4822, 24)

In [5]:
# info
print(md.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4822 entries, 0 to 4821
Data columns (total 24 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  4822 non-null   bool
 1   belongs_to_collection  496 non-null    object
 2   budget                 4822 non-null   int64
 3   genres                 4822 non-null   object
 4   homepage               817 non-null    object
 5   id                     4822 non-null   int64
 6   imdb_id                4820 non-null   object
 7   original_language      4822 non-null   object
 8   original_title         4822 non-null   object
 9   overview               4714 non-null   object
 10  popularity             4822 non-null   float64
 11  poster_path            4785 non-null   object
 12  production_companies   4822 non-null   object
 13  production_countries   4822 non-null   object
 14  release_date           4810 non-null   object
 15  revenue                4822 non-null   int64
 16  runtime                4787 non-null   float64
 17  spoken_languages       4822 non-null   object
 18  status                 4815 non-null   object
 19  tagline                2189 non-null   object
 20  title                  4822 non-null   object
 21  video                  4822 non-null   bool
 22  vote_average           4822 non-null   float64
 23  vote_count             4822 non-null   int64
dtypes: bool(2), float64(3), int64(4), object(15)
memory usage: 838.3+ KB
None

In [6]:
# describe
print(md.describe())

             budget             id   popularity       revenue      runtime  \
count  4.822000e+03    4822.000000  4822.000000  4.822000e+03  4787.000000
mean   4.479554e+06  107730.768768     2.906584  1.118364e+07    94.059954
std    1.901221e+07  111954.424191     4.892050  6.289271e+07    38.291402
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    0.000000e+00   25796.000000     0.374494  0.000000e+00    85.000000
50%    0.000000e+00   59315.500000     1.151589  0.000000e+00    94.000000
75%    0.000000e+00  157845.250000     3.815565  0.000000e+00   107.000000
max    3.000000e+08  469172.000000   133.827820  1.108561e+09   720.000000

       vote_average    vote_count
count   4822.000000   4822.000000
mean       5.576918    105.345085
std        1.944913    483.901944
min        0.000000      0.000000
25%        5.000000      3.000000
50%        6.000000     10.000000
75%        6.800000     35.000000
max       10.000000  12269.000000

In [7]:
# head
print(md.head())

   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...  release_date  \
0  It's Ted the Bellhop's first night on the job....  ...      09-12-95
1  Newspaper magnate, Charles Foster Kane is take...  ...      30-04-41
2  Captain Jack Sparrow works his way out of a bl...  ...      20-06-06
3  Paradise Now is filmed from the perspective of...  ...      14-02-05
4  Derek Vineyard is paroled after serving 3 year...  ...      30-10-98

      revenue runtime                                   spoken_languages  \
0     4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]
1    23217674   119.0           [{'iso_639_1': 'en', 'name': 'English'}]
2  1065659812   151.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
3     3357075    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...
4    23875127   119.0           [{'iso_639_1': 'en', 'name': 'English'}]

     status                                            tagline  \
0  Released  Twelve outrageous guests. Four scandalous requ...
1  Released                                     It's Terrific!
2  Released                                      Jack is back!
3  Released  From the most unexpected place, come a  new ca...
4  Released                            Some Legacies Must End.

                                        title  video vote_average vote_count
0                                  Four Rooms  False          6.5        539
1                                Citizen Kane  False          8.0       1244
2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380
3                                Paradise Now  False          6.9         63
4                          American History X  False          8.2       3120

[5 rows x 24 columns]

In [8]:
 #type
print(type(cr))

<class 'pandas.core.frame.DataFrame'>

In [9]:
# shape
print(cr.shape)

(4830, 3)

In [10]:
# info
print(cr.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4830 entries, 0 to 4829
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   cast    4830 non-null   object
 1   crew    4830 non-null   object
 2   id      4830 non-null   int64
dtypes: int64(1), object(2)
memory usage: 113.3+ KB
None

In [11]:
# describe
print(cr.describe())

                  id
count    4830.000000
mean   107582.871222
std    111730.389170
min         5.000000
25%     25762.000000
50%     59315.500000
75%    157765.250000
max    467731.000000

In [12]:
# head
print(cr.head())

                                                cast  \
0  [{'cast_id': 42, 'character': 'Ted the Bellhop...
1  [{'cast_id': 5, 'character': 'Charles Foster K...
2  [{'cast_id': 37, 'character': 'Captain Jack Sp...
3  [{'cast_id': 7, 'character': 'Khaled', 'credit...
4  [{'cast_id': 4, 'character': 'Derek Vinyard', ...

                                                crew  id
0  [{'credit_id': '52fe420dc3a36847f800011b', 'de...   5
1  [{'credit_id': '52fe420ec3a36847f8000885', 'de...  15
2  [{'credit_id': '52fe4211c3a36847f8001873', 'de...  58
3  [{'credit_id': '52fe4213c3a36847f8001df3', 'de...  67
4  [{'credit_id': '5563a4c1925141271b0021e7', 'de...  73

In [13]:
# type
print(type(kw))

<class 'pandas.core.frame.DataFrame'>

In [14]:
# shape
print(kw.shape)

(4925, 2)

In [15]:
# info
print(kw.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4925 entries, 0 to 4924
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4925 non-null   int64
 1   keywords  4925 non-null   object
dtypes: int64(1), object(1)
memory usage: 77.1+ KB
None

In [16]:
# describe
print(kw.describe())

                  id
count    4925.000000
mean   109011.403452
std    112478.768016
min         5.000000
25%     26269.000000
50%     60086.000000
75%    162396.000000
max    469172.000000

In [17]:
# head
print(kw.head())

   id                                           keywords
0   5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
1  15  [{'id': 736, 'name': 'journalist'}, {'id': 918...
2  58  [{'id': 616, 'name': 'witch'}, {'id': 663, 'na...
3  67  [{'id': 30, 'name': 'individual'}, {'id': 321,...
4  73  [{'id': 279, 'name': 'usa'}, {'id': 376, 'name...

In [18]:
# convert IDs to int ... required for merging
kw['id'] = kw['id'].astype('int')
cr['id'] = cr['id'].astype('int')
md['id'] = md['id'].astype('int')

In [19]:
# merge keywords and credits into movie dataframe
md = md.merge(cr, on='id')
md = md.merge(kw, on='id')

In [20]:
# type
print(type(md))

<class 'pandas.core.frame.DataFrame'>

In [21]:
# shape
print(md.shape)

(4944, 27)

In [22]:
# info
print(md.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4944 entries, 0 to 4943
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   adult                  4944 non-null   bool
 1   belongs_to_collection  499 non-null    object
 2   budget                 4944 non-null   int64
 3   genres                 4944 non-null   object
 4   homepage               840 non-null    object
 5   id                     4944 non-null   int32
 6   imdb_id                4942 non-null   object
 7   original_language      4944 non-null   object
 8   original_title         4944 non-null   object
 9   overview               4834 non-null   object
 10  popularity             4944 non-null   float64
 11  poster_path            4905 non-null   object
 12  production_companies   4944 non-null   object
 13  production_countries   4944 non-null   object
 14  release_date           4932 non-null   object
 15  revenue                4944 non-null   int64
 16  runtime                4909 non-null   float64
 17  spoken_languages       4944 non-null   object
 18  status                 4937 non-null   object
 19  tagline                2229 non-null   object
 20  title                  4944 non-null   object
 21  video                  4944 non-null   bool
 22  vote_average           4944 non-null   float64
 23  vote_count             4944 non-null   int64
 24  cast                   4944 non-null   object
 25  crew                   4944 non-null   object
 26  keywords               4944 non-null   object
dtypes: bool(2), float64(3), int32(1), int64(3), object(18)
memory usage: 994.6+ KB
None

In [23]:
# describe
print(md.describe())

             budget             id   popularity       revenue      runtime  \
count  4.944000e+03    4944.000000  4944.000000  4.944000e+03  4909.000000
mean   4.321127e+06  108876.454693     2.880415  1.066574e+07    93.971277
std    1.841686e+07  112289.791713     4.843641  6.017878e+07    38.122569
min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000
25%    0.000000e+00   26130.500000     0.370208  0.000000e+00    85.000000
50%    0.000000e+00   60103.000000     1.148238  0.000000e+00    94.000000
75%    0.000000e+00  161431.500000     3.739414  0.000000e+00   107.000000
max    3.000000e+08  467731.000000   133.827820  1.108561e+09   720.000000

       vote_average    vote_count
count   4944.000000   4944.000000
mean       5.567516    101.289846
std        1.954839    459.544923
min        0.000000      0.000000
25%        5.000000      3.000000
50%        6.000000     10.000000
75%        6.800000     34.000000
max       10.000000  12269.000000

In [24]:
# head
print(md.head())

   adult                              belongs_to_collection     budget  \
0  False                                                NaN    4000000
1  False                                                NaN     839727
2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000
3  False                                                NaN          0
4  False                                                NaN   20000000

                                              genres  \
0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...
1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...
4                      [{'id': 18, 'name': 'Drama'}]

                                       homepage  id    imdb_id  \
0                                           NaN   5  tt0113101
1                                           NaN  15  tt0033467
2  http://disney.go.com/disneypictures/pirates/  58  tt0383574
3        http://wip.warnerbros.com/paradisenow/  67  tt0445620
4                      http://www.historyx.com/  73  tt0120586

  original_language                              original_title  \
0                en                                  Four Rooms
1                en                                Citizen Kane
2                en  Pirates of the Caribbean: Dead Man's Chest
3                en                                Paradise Now
4                en                          American History X

                                            overview  ...  \
0  It's Ted the Bellhop's first night on the job....  ...
1  Newspaper magnate, Charles Foster Kane is take...  ...
2  Captain Jack Sparrow works his way out of a bl...  ...
3  Paradise Now is filmed from the perspective of...  ...
4  Derek Vineyard is paroled after serving 3 year...  ...

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1           [{'iso_639_1': 'en', 'name': 'English'}]  Released
2  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
3  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...  Released
4           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                             tagline  \
0  Twelve outrageous guests. Four scandalous requ...
1                                     It's Terrific!
2                                      Jack is back!
3  From the most unexpected place, come a  new ca...
4                            Some Legacies Must End.

                                        title  video  vote_average  \
0                                  Four Rooms  False           6.5
1                                Citizen Kane  False           8.0
2  Pirates of the Caribbean: Dead Man's Chest  False           7.0
3                                Paradise Now  False           6.9
4                          American History X  False           8.2

   vote_count                                               cast  \
0         539  [{'cast_id': 42, 'character': 'Ted the Bellhop...
1        1244  [{'cast_id': 5, 'character': 'Charles Foster K...
2        5380  [{'cast_id': 37, 'character': 'Captain Jack Sp...
3          63  [{'cast_id': 7, 'character': 'Khaled', 'credit...
4        3120  [{'cast_id': 4, 'character': 'Derek Vinyard', ...

                                                crew  \
0  [{'credit_id': '52fe420dc3a36847f800011b', 'de...
1  [{'credit_id': '52fe420ec3a36847f8000885', 'de...
2  [{'credit_id': '52fe4211c3a36847f8001873', 'de...
3  [{'credit_id': '52fe4213c3a36847f8001df3', 'de...
4  [{'credit_id': '5563a4c1925141271b0021e7', 'de...

                                            keywords
0  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...
1  [{'id': 736, 'name': 'journalist'}, {'id': 918...
2  [{'id': 616, 'name': 'witch'}, {'id': 663, 'na...
3  [{'id': 30, 'name': 'individual'}, {'id': 321,...
4  [{'id': 279, 'name': 'usa'}, {'id': 376, 'name...

[5 rows x 27 columns]

In [25]:
# Keywords Recommender 
##################################################

# the quality of recommender would be increased with better metadata
# we now build a recommender based on the following metadata: 
# the 3 top actors, the director, related genres and the movie plot keywords

# from our new features, cast, crew and keywords, we need to extract the three 
# most important actors, the director and the keywords associated with that movie
# our data is present in the form of "stringified" lists; 
# we need to convert them into a form that is usable to us
result = md.dtypes
print(result)

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int32
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
cast                      object
crew                      object
keywords                  object
dtype: object

In [26]:
# parse the stringified features into their corresponding python objects
features = ['cast', 'crew', 'keywords', 'genres']
from ast import literal_eval
for feature in features:
    md[feature] = md[feature].apply(literal_eval)
    
result = md.dtypes 
print(result)

adult                       bool
belongs_to_collection     object
budget                     int64
genres                    object
homepage                  object
id                         int32
imdb_id                   object
original_language         object
original_title            object
overview                  object
popularity               float64
poster_path               object
production_companies      object
production_countries      object
release_date              object
revenue                    int64
runtime                  float64
spoken_languages          object
status                    object
tagline                   object
title                     object
video                       bool
vote_average             float64
vote_count                 int64
cast                      object
crew                      object
keywords                  object
dtype: object

In [27]:
# get the director's name from the crew feature
# if director is not listed, return NaN
def get_director(x):
    for i in x:
        if i['job'] == 'Director':
            return i['name']
    return np.nan

In [28]:
# define new director in a suitable form
md['director'] = md['crew'].apply(get_director)

In [29]:
# returns the list top 5 elements or entire list; whichever is more.
def get_list(x):
    if isinstance(x, list):
        names = [i['name'] for i in x]
        #Check if more than 5 elements exist. If yes, return only first three. If no, return entire list.
        if len(names) > 5:
            names = names[:5]
        return names
    # return empty list in case of missing/malformed data
    return []

In [30]:
# define cast, genres and keywords features that are in a suitable form
features = ['cast', 'keywords', 'genres']
md['str_cast'] = md['cast'].apply(get_list)
md['str_keys'] = md['keywords'].apply(get_list)
md['str_genr'] = md['genres'].apply(get_list)

In [31]:
# print the new features
print(md[['title', 'director', 'str_cast', 'str_keys', 'str_genr']].head())

                                        title        director  \
0                                  Four Rooms  Allison Anders
1                                Citizen Kane    Orson Welles
2  Pirates of the Caribbean: Dead Man's Chest  Gore Verbinski
3                                Paradise Now  Hany Abu-Assad
4                          American History X       Tony Kaye

                                            str_cast  \
0  [Tim Roth, Antonio Banderas, Jennifer Beals, M...
1  [Orson Welles, Joseph Cotten, Dorothy Comingor...
2  [Johnny Depp, Orlando Bloom, Keira Knightley, ...
3  [Ali Suliman, Amer Hlehel, Hiam Abbass, Ashraf...
4  [Edward Norton, Edward Furlong, Beverly D'Ange...

                                            str_keys  \
0    [hotel, new year's eve, witch, bet, hotel room]
1  [journalist, newspaper, florida, capitalist, b...
2  [witch, fortune teller, bondage, exotic island...
3  [individual, terror, civil war, israel, palest...
4  [usa, neo-nazi, prison, skinhead, brother brot...

                       str_genr
0               [Crime, Comedy]
1              [Mystery, Drama]
2  [Adventure, Fantasy, Action]
3      [Thriller, Crime, Drama]
4                       [Drama]

In [32]:
# the next step would be to convert the names and keyword instances into lowercase 
# and strip all the spaces between them; this is done so that your vectorizer 
# doesn't count "Johnny Depp" and "Johnny Galecki" as the same. After this step,
# keywrods will be represented as "johnnydepp" and "johnnygalecki" and will be distinct 

# function to convert all strings to lower case and strip names of spaces
def cleanData(x):
    if isinstance(x, list):
        return [str.lower(i.replace(" ", "")) for i in x]
    else:
        #Check if director exists. If not, return empty string
        if isinstance(x, str):
            return str.lower(x.replace(" ", ""))
        else:
            return ''

In [33]:
# apply clean_data function to your features.
features = ['director', 'str_cast', 'str_keys', 'str_genr']
for feature in features:
    md[feature] = md[feature].apply(cleanData)

In [34]:
# print the new features
print(md[['title', 'director', 'str_cast', 'str_keys', 'str_genr']].head())

                                        title       director  \
0                                  Four Rooms  allisonanders
1                                Citizen Kane    orsonwelles
2  Pirates of the Caribbean: Dead Man's Chest  goreverbinski
3                                Paradise Now  hanyabu-assad
4                          American History X       tonykaye

                                            str_cast  \
0  [timroth, antoniobanderas, jenniferbeals, mado...
1  [orsonwelles, josephcotten, dorothycomingore, ...
2  [johnnydepp, orlandobloom, keiraknightley, ste...
3  [alisuliman, amerhlehel, hiamabbass, ashrafbar...
4  [edwardnorton, edwardfurlong, beverlyd'angelo,...

                                            str_keys  \
0       [hotel, newyear'seve, witch, bet, hotelroom]
1  [journalist, newspaper, florida, capitalist, b...
2  [witch, fortuneteller, bondage, exoticisland, ...
3  [individual, terror, civilwar, israel, palestine]
4  [usa, neo-nazi, prison, skinhead, brotherbroth...

                       str_genr
0               [crime, comedy]
1              [mystery, drama]
2  [adventure, fantasy, action]
3      [thriller, crime, drama]
4                       [drama]

In [35]:
# we now create our "metadata soup", which is a string that contains all the 
# metadata that is to be given to your vectorizer (namely actors, director and keywords)

# function
def createSoup(x):
    return ' '.join(x['str_keys']) + ' ' + ' '.join(x['str_cast']) + ' ' + x['director'] + ' ' + ' '.join(x['str_genr'])

In [36]:
# create a new soup feature
md['soup'] = md.apply(createSoup, axis=1)
print(md['soup'][0])
print(md['soup'].head())

hotel newyear'seve witch bet hotelroom timroth antoniobanderas jenniferbeals madonna marisatomei allisonanders crime comedy
0    hotel newyear'seve witch bet hotelroom timroth...
1    journalist newspaper florida capitalist banker...
2    witch fortuneteller bondage exoticisland monst...
3    individual terror civilwar israel palestine al...
4    usa neo-nazi prison skinhead brotherbrotherrel...
Name: soup, dtype: object

In [37]:
# the next steps are the same as what you did with your content based recommender
# important difference is that we use the CountVectorizer() instead of TF-IDF

# import CountVectorizer and create the count matrix
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

# use CountVectorizer
count = CountVectorizer(stop_words='english')
count_matrix = count.fit_transform(md['soup'])
print(count_matrix.shape)
print(count_matrix[5])

(4944, 23015)
  (0, 198)	1
  (0, 68)	1
  (0, 18982)	1
  (0, 17930)	1
  (0, 15550)	1
  (0, 8555)	1
  (0, 2950)	1
  (0, 8246)	1
  (0, 11345)	1
  (0, 16457)	1
  (0, 18380)	1
  (0, 10655)	1
  (0, 4939)	1
  (0, 20133)	1

In [38]:
 #compute the Cosine Similarity matrix based on the count_matrix
cosSimilarity = cosine_similarity(count_matrix, count_matrix)

In [39]:
# reset index of your main DataFrame and construct reverse mapping as before
md = md.reset_index()
indices = pd.Series(md.index, index=md['title'])

In [40]:
# function that takes in movie title as input and outputs most similar movies
def getReccos(title, cosine_sim=cosSimilarity):
    # Get the index of the movie that matches the title
    try:
        idx = indices[title]
    except:
        return "Title Not Found ..."
    # Get the pairwsie similarity scores of all movies with that movie
    sim_scores = list(enumerate(cosine_sim[idx]))
    # Sort the movies based on the similarity scores
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)
    # Get the scores of the 10 most similar movies
    sim_scores = sim_scores[1:11]
    # Get the movie indices
    movie_indices = [i[0] for i in sim_scores]
    # Return the top 10 most similar movies
    return md['title'].iloc[movie_indices],sim_scores

In [41]:
# call the function{
 "cells": [
  {
   "cell_type": "code",
   "execution_count": 1,
   "id": "a7c571eb",
   "metadata": {},
   "outputs": [],
   "source": [
    "# imports\n",
    "import pandas as pd\n",
    "# import Numpy \n",
    "import numpy as np"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 2,
   "id": "578fee81",
   "metadata": {},
   "outputs": [],
   "source": [
    "# read data\n",
    "# read small dataset (random sample)\n",
    "md = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/movies_small.csv', low_memory=False)\n",
    "# load credits\n",
    "cr = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/credits_small.csv')\n",
    "# load keywords \n",
    "kw = pd.read_csv('C:/Users/Manoj Yadav/Desktop/Part II/ML II/Recommender system/keywords_small.csv')\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 3,
   "id": "a2510f02",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n"
     ]
    }
   ],
   "source": [
    "# type\n",
    "print(type(md))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 4,
   "id": "baccf067",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(4822, 24)\n"
     ]
    }
   ],
   "source": [
    "# shape\n",
    "print(md.shape)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 5,
   "id": "a587c778",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 4822 entries, 0 to 4821\n",
      "Data columns (total 24 columns):\n",
      " #   Column                 Non-Null Count  Dtype  \n",
      "---  ------                 --------------  -----  \n",
      " 0   adult                  4822 non-null   bool   \n",
      " 1   belongs_to_collection  496 non-null    object \n",
      " 2   budget                 4822 non-null   int64  \n",
      " 3   genres                 4822 non-null   object \n",
      " 4   homepage               817 non-null    object \n",
      " 5   id                     4822 non-null   int64  \n",
      " 6   imdb_id                4820 non-null   object \n",
      " 7   original_language      4822 non-null   object \n",
      " 8   original_title         4822 non-null   object \n",
      " 9   overview               4714 non-null   object \n",
      " 10  popularity             4822 non-null   float64\n",
      " 11  poster_path            4785 non-null   object \n",
      " 12  production_companies   4822 non-null   object \n",
      " 13  production_countries   4822 non-null   object \n",
      " 14  release_date           4810 non-null   object \n",
      " 15  revenue                4822 non-null   int64  \n",
      " 16  runtime                4787 non-null   float64\n",
      " 17  spoken_languages       4822 non-null   object \n",
      " 18  status                 4815 non-null   object \n",
      " 19  tagline                2189 non-null   object \n",
      " 20  title                  4822 non-null   object \n",
      " 21  video                  4822 non-null   bool   \n",
      " 22  vote_average           4822 non-null   float64\n",
      " 23  vote_count             4822 non-null   int64  \n",
      "dtypes: bool(2), float64(3), int64(4), object(15)\n",
      "memory usage: 838.3+ KB\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "# info\n",
    "print(md.info())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 6,
   "id": "a39a563d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "             budget             id   popularity       revenue      runtime  \\\n",
      "count  4.822000e+03    4822.000000  4822.000000  4.822000e+03  4787.000000   \n",
      "mean   4.479554e+06  107730.768768     2.906584  1.118364e+07    94.059954   \n",
      "std    1.901221e+07  111954.424191     4.892050  6.289271e+07    38.291402   \n",
      "min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000   \n",
      "25%    0.000000e+00   25796.000000     0.374494  0.000000e+00    85.000000   \n",
      "50%    0.000000e+00   59315.500000     1.151589  0.000000e+00    94.000000   \n",
      "75%    0.000000e+00  157845.250000     3.815565  0.000000e+00   107.000000   \n",
      "max    3.000000e+08  469172.000000   133.827820  1.108561e+09   720.000000   \n",
      "\n",
      "       vote_average    vote_count  \n",
      "count   4822.000000   4822.000000  \n",
      "mean       5.576918    105.345085  \n",
      "std        1.944913    483.901944  \n",
      "min        0.000000      0.000000  \n",
      "25%        5.000000      3.000000  \n",
      "50%        6.000000     10.000000  \n",
      "75%        6.800000     35.000000  \n",
      "max       10.000000  12269.000000  \n"
     ]
    }
   ],
   "source": [
    "# describe\n",
    "print(md.describe())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 7,
   "id": "23d1d425",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "   adult                              belongs_to_collection     budget  \\\n",
      "0  False                                                NaN    4000000   \n",
      "1  False                                                NaN     839727   \n",
      "2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000   \n",
      "3  False                                                NaN          0   \n",
      "4  False                                                NaN   20000000   \n",
      "\n",
      "                                              genres  \\\n",
      "0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...   \n",
      "1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...   \n",
      "2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
      "3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...   \n",
      "4                      [{'id': 18, 'name': 'Drama'}]   \n",
      "\n",
      "                                       homepage  id    imdb_id  \\\n",
      "0                                           NaN   5  tt0113101   \n",
      "1                                           NaN  15  tt0033467   \n",
      "2  http://disney.go.com/disneypictures/pirates/  58  tt0383574   \n",
      "3        http://wip.warnerbros.com/paradisenow/  67  tt0445620   \n",
      "4                      http://www.historyx.com/  73  tt0120586   \n",
      "\n",
      "  original_language                              original_title  \\\n",
      "0                en                                  Four Rooms   \n",
      "1                en                                Citizen Kane   \n",
      "2                en  Pirates of the Caribbean: Dead Man's Chest   \n",
      "3                en                                Paradise Now   \n",
      "4                en                          American History X   \n",
      "\n",
      "                                            overview  ...  release_date  \\\n",
      "0  It's Ted the Bellhop's first night on the job....  ...      09-12-95   \n",
      "1  Newspaper magnate, Charles Foster Kane is take...  ...      30-04-41   \n",
      "2  Captain Jack Sparrow works his way out of a bl...  ...      20-06-06   \n",
      "3  Paradise Now is filmed from the perspective of...  ...      14-02-05   \n",
      "4  Derek Vineyard is paroled after serving 3 year...  ...      30-10-98   \n",
      "\n",
      "      revenue runtime                                   spoken_languages  \\\n",
      "0     4300000    98.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
      "1    23217674   119.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
      "2  1065659812   151.0  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...   \n",
      "3     3357075    90.0  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...   \n",
      "4    23875127   119.0           [{'iso_639_1': 'en', 'name': 'English'}]   \n",
      "\n",
      "     status                                            tagline  \\\n",
      "0  Released  Twelve outrageous guests. Four scandalous requ...   \n",
      "1  Released                                     It's Terrific!   \n",
      "2  Released                                      Jack is back!   \n",
      "3  Released  From the most unexpected place, come a  new ca...   \n",
      "4  Released                            Some Legacies Must End.   \n",
      "\n",
      "                                        title  video vote_average vote_count  \n",
      "0                                  Four Rooms  False          6.5        539  \n",
      "1                                Citizen Kane  False          8.0       1244  \n",
      "2  Pirates of the Caribbean: Dead Man's Chest  False          7.0       5380  \n",
      "3                                Paradise Now  False          6.9         63  \n",
      "4                          American History X  False          8.2       3120  \n",
      "\n",
      "[5 rows x 24 columns]\n"
     ]
    }
   ],
   "source": [
    "# head\n",
    "print(md.head())\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 8,
   "id": "439196ad",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n"
     ]
    }
   ],
   "source": [
    " #type\n",
    "print(type(cr))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 9,
   "id": "0f6c2353",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(4830, 3)\n"
     ]
    }
   ],
   "source": [
    "# shape\n",
    "print(cr.shape)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 10,
   "id": "5b1eeaa1",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 4830 entries, 0 to 4829\n",
      "Data columns (total 3 columns):\n",
      " #   Column  Non-Null Count  Dtype \n",
      "---  ------  --------------  ----- \n",
      " 0   cast    4830 non-null   object\n",
      " 1   crew    4830 non-null   object\n",
      " 2   id      4830 non-null   int64 \n",
      "dtypes: int64(1), object(2)\n",
      "memory usage: 113.3+ KB\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "# info\n",
    "print(cr.info())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 11,
   "id": "1f673703",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "                  id\n",
      "count    4830.000000\n",
      "mean   107582.871222\n",
      "std    111730.389170\n",
      "min         5.000000\n",
      "25%     25762.000000\n",
      "50%     59315.500000\n",
      "75%    157765.250000\n",
      "max    467731.000000\n"
     ]
    }
   ],
   "source": [
    "# describe\n",
    "print(cr.describe())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 12,
   "id": "cf2179dd",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "                                                cast  \\\n",
      "0  [{'cast_id': 42, 'character': 'Ted the Bellhop...   \n",
      "1  [{'cast_id': 5, 'character': 'Charles Foster K...   \n",
      "2  [{'cast_id': 37, 'character': 'Captain Jack Sp...   \n",
      "3  [{'cast_id': 7, 'character': 'Khaled', 'credit...   \n",
      "4  [{'cast_id': 4, 'character': 'Derek Vinyard', ...   \n",
      "\n",
      "                                                crew  id  \n",
      "0  [{'credit_id': '52fe420dc3a36847f800011b', 'de...   5  \n",
      "1  [{'credit_id': '52fe420ec3a36847f8000885', 'de...  15  \n",
      "2  [{'credit_id': '52fe4211c3a36847f8001873', 'de...  58  \n",
      "3  [{'credit_id': '52fe4213c3a36847f8001df3', 'de...  67  \n",
      "4  [{'credit_id': '5563a4c1925141271b0021e7', 'de...  73  \n"
     ]
    }
   ],
   "source": [
    "# head\n",
    "print(cr.head())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 13,
   "id": "da5d1f92",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n"
     ]
    }
   ],
   "source": [
    "# type\n",
    "print(type(kw))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 14,
   "id": "a1e4fa48",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(4925, 2)\n"
     ]
    }
   ],
   "source": [
    "# shape\n",
    "print(kw.shape)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 15,
   "id": "0d4f7c5d",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "RangeIndex: 4925 entries, 0 to 4924\n",
      "Data columns (total 2 columns):\n",
      " #   Column    Non-Null Count  Dtype \n",
      "---  ------    --------------  ----- \n",
      " 0   id        4925 non-null   int64 \n",
      " 1   keywords  4925 non-null   object\n",
      "dtypes: int64(1), object(1)\n",
      "memory usage: 77.1+ KB\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "# info\n",
    "print(kw.info())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 16,
   "id": "bcb0cd8c",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "                  id\n",
      "count    4925.000000\n",
      "mean   109011.403452\n",
      "std    112478.768016\n",
      "min         5.000000\n",
      "25%     26269.000000\n",
      "50%     60086.000000\n",
      "75%    162396.000000\n",
      "max    469172.000000\n"
     ]
    }
   ],
   "source": [
    "# describe\n",
    "print(kw.describe())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 17,
   "id": "dfb52a55",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "   id                                           keywords\n",
      "0   5  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...\n",
      "1  15  [{'id': 736, 'name': 'journalist'}, {'id': 918...\n",
      "2  58  [{'id': 616, 'name': 'witch'}, {'id': 663, 'na...\n",
      "3  67  [{'id': 30, 'name': 'individual'}, {'id': 321,...\n",
      "4  73  [{'id': 279, 'name': 'usa'}, {'id': 376, 'name...\n"
     ]
    }
   ],
   "source": [
    "# head\n",
    "print(kw.head())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 18,
   "id": "c67a1e8a",
   "metadata": {},
   "outputs": [],
   "source": [
    "# convert IDs to int ... required for merging\n",
    "kw['id'] = kw['id'].astype('int')\n",
    "cr['id'] = cr['id'].astype('int')\n",
    "md['id'] = md['id'].astype('int')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 19,
   "id": "96114531",
   "metadata": {},
   "outputs": [],
   "source": [
    "# merge keywords and credits into movie dataframe\n",
    "md = md.merge(cr, on='id')\n",
    "md = md.merge(kw, on='id')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 20,
   "id": "45b3ddc9",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n"
     ]
    }
   ],
   "source": [
    "# type\n",
    "print(type(md))"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 21,
   "id": "ae252d05",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(4944, 27)\n"
     ]
    }
   ],
   "source": [
    "# shape\n",
    "print(md.shape)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 22,
   "id": "c8fe843b",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "<class 'pandas.core.frame.DataFrame'>\n",
      "Int64Index: 4944 entries, 0 to 4943\n",
      "Data columns (total 27 columns):\n",
      " #   Column                 Non-Null Count  Dtype  \n",
      "---  ------                 --------------  -----  \n",
      " 0   adult                  4944 non-null   bool   \n",
      " 1   belongs_to_collection  499 non-null    object \n",
      " 2   budget                 4944 non-null   int64  \n",
      " 3   genres                 4944 non-null   object \n",
      " 4   homepage               840 non-null    object \n",
      " 5   id                     4944 non-null   int32  \n",
      " 6   imdb_id                4942 non-null   object \n",
      " 7   original_language      4944 non-null   object \n",
      " 8   original_title         4944 non-null   object \n",
      " 9   overview               4834 non-null   object \n",
      " 10  popularity             4944 non-null   float64\n",
      " 11  poster_path            4905 non-null   object \n",
      " 12  production_companies   4944 non-null   object \n",
      " 13  production_countries   4944 non-null   object \n",
      " 14  release_date           4932 non-null   object \n",
      " 15  revenue                4944 non-null   int64  \n",
      " 16  runtime                4909 non-null   float64\n",
      " 17  spoken_languages       4944 non-null   object \n",
      " 18  status                 4937 non-null   object \n",
      " 19  tagline                2229 non-null   object \n",
      " 20  title                  4944 non-null   object \n",
      " 21  video                  4944 non-null   bool   \n",
      " 22  vote_average           4944 non-null   float64\n",
      " 23  vote_count             4944 non-null   int64  \n",
      " 24  cast                   4944 non-null   object \n",
      " 25  crew                   4944 non-null   object \n",
      " 26  keywords               4944 non-null   object \n",
      "dtypes: bool(2), float64(3), int32(1), int64(3), object(18)\n",
      "memory usage: 994.6+ KB\n",
      "None\n"
     ]
    }
   ],
   "source": [
    "# info\n",
    "print(md.info())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 23,
   "id": "03f3afdb",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "             budget             id   popularity       revenue      runtime  \\\n",
      "count  4.944000e+03    4944.000000  4944.000000  4.944000e+03  4909.000000   \n",
      "mean   4.321127e+06  108876.454693     2.880415  1.066574e+07    93.971277   \n",
      "std    1.841686e+07  112289.791713     4.843641  6.017878e+07    38.122569   \n",
      "min    0.000000e+00       5.000000     0.000000  0.000000e+00     0.000000   \n",
      "25%    0.000000e+00   26130.500000     0.370208  0.000000e+00    85.000000   \n",
      "50%    0.000000e+00   60103.000000     1.148238  0.000000e+00    94.000000   \n",
      "75%    0.000000e+00  161431.500000     3.739414  0.000000e+00   107.000000   \n",
      "max    3.000000e+08  467731.000000   133.827820  1.108561e+09   720.000000   \n",
      "\n",
      "       vote_average    vote_count  \n",
      "count   4944.000000   4944.000000  \n",
      "mean       5.567516    101.289846  \n",
      "std        1.954839    459.544923  \n",
      "min        0.000000      0.000000  \n",
      "25%        5.000000      3.000000  \n",
      "50%        6.000000     10.000000  \n",
      "75%        6.800000     34.000000  \n",
      "max       10.000000  12269.000000  \n"
     ]
    }
   ],
   "source": [
    "# describe\n",
    "print(md.describe())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 24,
   "id": "e91a65da",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "   adult                              belongs_to_collection     budget  \\\n",
      "0  False                                                NaN    4000000   \n",
      "1  False                                                NaN     839727   \n",
      "2  False  {'id': 295, 'name': 'Pirates of the Caribbean ...  200000000   \n",
      "3  False                                                NaN          0   \n",
      "4  False                                                NaN   20000000   \n",
      "\n",
      "                                              genres  \\\n",
      "0  [{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...   \n",
      "1  [{'id': 9648, 'name': 'Mystery'}, {'id': 18, '...   \n",
      "2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...   \n",
      "3  [{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...   \n",
      "4                      [{'id': 18, 'name': 'Drama'}]   \n",
      "\n",
      "                                       homepage  id    imdb_id  \\\n",
      "0                                           NaN   5  tt0113101   \n",
      "1                                           NaN  15  tt0033467   \n",
      "2  http://disney.go.com/disneypictures/pirates/  58  tt0383574   \n",
      "3        http://wip.warnerbros.com/paradisenow/  67  tt0445620   \n",
      "4                      http://www.historyx.com/  73  tt0120586   \n",
      "\n",
      "  original_language                              original_title  \\\n",
      "0                en                                  Four Rooms   \n",
      "1                en                                Citizen Kane   \n",
      "2                en  Pirates of the Caribbean: Dead Man's Chest   \n",
      "3                en                                Paradise Now   \n",
      "4                en                          American History X   \n",
      "\n",
      "                                            overview  ...  \\\n",
      "0  It's Ted the Bellhop's first night on the job....  ...   \n",
      "1  Newspaper magnate, Charles Foster Kane is take...  ...   \n",
      "2  Captain Jack Sparrow works his way out of a bl...  ...   \n",
      "3  Paradise Now is filmed from the perspective of...  ...   \n",
      "4  Derek Vineyard is paroled after serving 3 year...  ...   \n",
      "\n",
      "                                    spoken_languages    status  \\\n",
      "0           [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
      "1           [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
      "2  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released   \n",
      "3  [{'iso_639_1': 'ar', 'name': 'العربية'}, {'iso...  Released   \n",
      "4           [{'iso_639_1': 'en', 'name': 'English'}]  Released   \n",
      "\n",
      "                                             tagline  \\\n",
      "0  Twelve outrageous guests. Four scandalous requ...   \n",
      "1                                     It's Terrific!   \n",
      "2                                      Jack is back!   \n",
      "3  From the most unexpected place, come a  new ca...   \n",
      "4                            Some Legacies Must End.   \n",
      "\n",
      "                                        title  video  vote_average  \\\n",
      "0                                  Four Rooms  False           6.5   \n",
      "1                                Citizen Kane  False           8.0   \n",
      "2  Pirates of the Caribbean: Dead Man's Chest  False           7.0   \n",
      "3                                Paradise Now  False           6.9   \n",
      "4                          American History X  False           8.2   \n",
      "\n",
      "   vote_count                                               cast  \\\n",
      "0         539  [{'cast_id': 42, 'character': 'Ted the Bellhop...   \n",
      "1        1244  [{'cast_id': 5, 'character': 'Charles Foster K...   \n",
      "2        5380  [{'cast_id': 37, 'character': 'Captain Jack Sp...   \n",
      "3          63  [{'cast_id': 7, 'character': 'Khaled', 'credit...   \n",
      "4        3120  [{'cast_id': 4, 'character': 'Derek Vinyard', ...   \n",
      "\n",
      "                                                crew  \\\n",
      "0  [{'credit_id': '52fe420dc3a36847f800011b', 'de...   \n",
      "1  [{'credit_id': '52fe420ec3a36847f8000885', 'de...   \n",
      "2  [{'credit_id': '52fe4211c3a36847f8001873', 'de...   \n",
      "3  [{'credit_id': '52fe4213c3a36847f8001df3', 'de...   \n",
      "4  [{'credit_id': '5563a4c1925141271b0021e7', 'de...   \n",
      "\n",
      "                                            keywords  \n",
      "0  [{'id': 612, 'name': 'hotel'}, {'id': 613, 'na...  \n",
      "1  [{'id': 736, 'name': 'journalist'}, {'id': 918...  \n",
      "2  [{'id': 616, 'name': 'witch'}, {'id': 663, 'na...  \n",
      "3  [{'id': 30, 'name': 'individual'}, {'id': 321,...  \n",
      "4  [{'id': 279, 'name': 'usa'}, {'id': 376, 'name...  \n",
      "\n",
      "[5 rows x 27 columns]\n"
     ]
    }
   ],
   "source": [
    "# head\n",
    "print(md.head())\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 25,
   "id": "35ac6bf8",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "adult                       bool\n",
      "belongs_to_collection     object\n",
      "budget                     int64\n",
      "genres                    object\n",
      "homepage                  object\n",
      "id                         int32\n",
      "imdb_id                   object\n",
      "original_language         object\n",
      "original_title            object\n",
      "overview                  object\n",
      "popularity               float64\n",
      "poster_path               object\n",
      "production_companies      object\n",
      "production_countries      object\n",
      "release_date              object\n",
      "revenue                    int64\n",
      "runtime                  float64\n",
      "spoken_languages          object\n",
      "status                    object\n",
      "tagline                   object\n",
      "title                     object\n",
      "video                       bool\n",
      "vote_average             float64\n",
      "vote_count                 int64\n",
      "cast                      object\n",
      "crew                      object\n",
      "keywords                  object\n",
      "dtype: object\n"
     ]
    }
   ],
   "source": [
    "# Keywords Recommender \n",
    "##################################################\n",
    "\n",
    "# the quality of recommender would be increased with better metadata\n",
    "# we now build a recommender based on the following metadata: \n",
    "# the 3 top actors, the director, related genres and the movie plot keywords\n",
    "\n",
    "# from our new features, cast, crew and keywords, we need to extract the three \n",
    "# most important actors, the director and the keywords associated with that movie\n",
    "# our data is present in the form of \"stringified\" lists; \n",
    "# we need to convert them into a form that is usable to us\n",
    "result = md.dtypes\n",
    "print(result)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 26,
   "id": "49c91a13",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "adult                       bool\n",
      "belongs_to_collection     object\n",
      "budget                     int64\n",
      "genres                    object\n",
      "homepage                  object\n",
      "id                         int32\n",
      "imdb_id                   object\n",
      "original_language         object\n",
      "original_title            object\n",
      "overview                  object\n",
      "popularity               float64\n",
      "poster_path               object\n",
      "production_companies      object\n",
      "production_countries      object\n",
      "release_date              object\n",
      "revenue                    int64\n",
      "runtime                  float64\n",
      "spoken_languages          object\n",
      "status                    object\n",
      "tagline                   object\n",
      "title                     object\n",
      "video                       bool\n",
      "vote_average             float64\n",
      "vote_count                 int64\n",
      "cast                      object\n",
      "crew                      object\n",
      "keywords                  object\n",
      "dtype: object\n"
     ]
    }
   ],
   "source": [
    "# parse the stringified features into their corresponding python objects\n",
    "features = ['cast', 'crew', 'keywords', 'genres']\n",
    "from ast import literal_eval\n",
    "for feature in features:\n",
    "    md[feature] = md[feature].apply(literal_eval)\n",
    "    \n",
    "result = md.dtypes \n",
    "print(result)"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 27,
   "id": "855358cc",
   "metadata": {},
   "outputs": [],
   "source": [
    "# get the director's name from the crew feature\n",
    "# if director is not listed, return NaN\n",
    "def get_director(x):\n",
    "    for i in x:\n",
    "        if i['job'] == 'Director':\n",
    "            return i['name']\n",
    "    return np.nan\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 28,
   "id": "d7a84690",
   "metadata": {},
   "outputs": [],
   "source": [
    "# define new director in a suitable form\n",
    "md['director'] = md['crew'].apply(get_director)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 29,
   "id": "ee93af2d",
   "metadata": {},
   "outputs": [],
   "source": [
    "# returns the list top 5 elements or entire list; whichever is more.\n",
    "def get_list(x):\n",
    "    if isinstance(x, list):\n",
    "        names = [i['name'] for i in x]\n",
    "        #Check if more than 5 elements exist. If yes, return only first three. If no, return entire list.\n",
    "        if len(names) > 5:\n",
    "            names = names[:5]\n",
    "        return names\n",
    "    # return empty list in case of missing/malformed data\n",
    "    return []\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 30,
   "id": "ad768771",
   "metadata": {},
   "outputs": [],
   "source": [
    "# define cast, genres and keywords features that are in a suitable form\n",
    "features = ['cast', 'keywords', 'genres']\n",
    "md['str_cast'] = md['cast'].apply(get_list)\n",
    "md['str_keys'] = md['keywords'].apply(get_list)\n",
    "md['str_genr'] = md['genres'].apply(get_list)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 31,
   "id": "286f6906",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "                                        title        director  \\\n",
      "0                                  Four Rooms  Allison Anders   \n",
      "1                                Citizen Kane    Orson Welles   \n",
      "2  Pirates of the Caribbean: Dead Man's Chest  Gore Verbinski   \n",
      "3                                Paradise Now  Hany Abu-Assad   \n",
      "4                          American History X       Tony Kaye   \n",
      "\n",
      "                                            str_cast  \\\n",
      "0  [Tim Roth, Antonio Banderas, Jennifer Beals, M...   \n",
      "1  [Orson Welles, Joseph Cotten, Dorothy Comingor...   \n",
      "2  [Johnny Depp, Orlando Bloom, Keira Knightley, ...   \n",
      "3  [Ali Suliman, Amer Hlehel, Hiam Abbass, Ashraf...   \n",
      "4  [Edward Norton, Edward Furlong, Beverly D'Ange...   \n",
      "\n",
      "                                            str_keys  \\\n",
      "0    [hotel, new year's eve, witch, bet, hotel room]   \n",
      "1  [journalist, newspaper, florida, capitalist, b...   \n",
      "2  [witch, fortune teller, bondage, exotic island...   \n",
      "3  [individual, terror, civil war, israel, palest...   \n",
      "4  [usa, neo-nazi, prison, skinhead, brother brot...   \n",
      "\n",
      "                       str_genr  \n",
      "0               [Crime, Comedy]  \n",
      "1              [Mystery, Drama]  \n",
      "2  [Adventure, Fantasy, Action]  \n",
      "3      [Thriller, Crime, Drama]  \n",
      "4                       [Drama]  \n"
     ]
    }
   ],
   "source": [
    "# print the new features\n",
    "print(md[['title', 'director', 'str_cast', 'str_keys', 'str_genr']].head())\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 32,
   "id": "f06a24f3",
   "metadata": {},
   "outputs": [],
   "source": [
    "# the next step would be to convert the names and keyword instances into lowercase \n",
    "# and strip all the spaces between them; this is done so that your vectorizer \n",
    "# doesn't count \"Johnny Depp\" and \"Johnny Galecki\" as the same. After this step,\n",
    "# keywrods will be represented as \"johnnydepp\" and \"johnnygalecki\" and will be distinct \n",
    "\n",
    "# function to convert all strings to lower case and strip names of spaces\n",
    "def cleanData(x):\n",
    "    if isinstance(x, list):\n",
    "        return [str.lower(i.replace(\" \", \"\")) for i in x]\n",
    "    else:\n",
    "        #Check if director exists. If not, return empty string\n",
    "        if isinstance(x, str):\n",
    "            return str.lower(x.replace(\" \", \"\"))\n",
    "        else:\n",
    "            return ''"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 33,
   "id": "b402d8cf",
   "metadata": {},
   "outputs": [],
   "source": [
    "# apply clean_data function to your features.\n",
    "features = ['director', 'str_cast', 'str_keys', 'str_genr']\n",
    "for feature in features:\n",
    "    md[feature] = md[feature].apply(cleanData)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 34,
   "id": "dc6825e5",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "                                        title       director  \\\n",
      "0                                  Four Rooms  allisonanders   \n",
      "1                                Citizen Kane    orsonwelles   \n",
      "2  Pirates of the Caribbean: Dead Man's Chest  goreverbinski   \n",
      "3                                Paradise Now  hanyabu-assad   \n",
      "4                          American History X       tonykaye   \n",
      "\n",
      "                                            str_cast  \\\n",
      "0  [timroth, antoniobanderas, jenniferbeals, mado...   \n",
      "1  [orsonwelles, josephcotten, dorothycomingore, ...   \n",
      "2  [johnnydepp, orlandobloom, keiraknightley, ste...   \n",
      "3  [alisuliman, amerhlehel, hiamabbass, ashrafbar...   \n",
      "4  [edwardnorton, edwardfurlong, beverlyd'angelo,...   \n",
      "\n",
      "                                            str_keys  \\\n",
      "0       [hotel, newyear'seve, witch, bet, hotelroom]   \n",
      "1  [journalist, newspaper, florida, capitalist, b...   \n",
      "2  [witch, fortuneteller, bondage, exoticisland, ...   \n",
      "3  [individual, terror, civilwar, israel, palestine]   \n",
      "4  [usa, neo-nazi, prison, skinhead, brotherbroth...   \n",
      "\n",
      "                       str_genr  \n",
      "0               [crime, comedy]  \n",
      "1              [mystery, drama]  \n",
      "2  [adventure, fantasy, action]  \n",
      "3      [thriller, crime, drama]  \n",
      "4                       [drama]  \n"
     ]
    }
   ],
   "source": [
    "# print the new features\n",
    "print(md[['title', 'director', 'str_cast', 'str_keys', 'str_genr']].head())\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 35,
   "id": "ca169a20",
   "metadata": {},
   "outputs": [],
   "source": [
    "# we now create our \"metadata soup\", which is a string that contains all the \n",
    "# metadata that is to be given to your vectorizer (namely actors, director and keywords)\n",
    "\n",
    "# function\n",
    "def createSoup(x):\n",
    "    return ' '.join(x['str_keys']) + ' ' + ' '.join(x['str_cast']) + ' ' + x['director'] + ' ' + ' '.join(x['str_genr'])\n",
    "\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 36,
   "id": "02e1ee61",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "hotel newyear'seve witch bet hotelroom timroth antoniobanderas jenniferbeals madonna marisatomei allisonanders crime comedy\n",
      "0    hotel newyear'seve witch bet hotelroom timroth...\n",
      "1    journalist newspaper florida capitalist banker...\n",
      "2    witch fortuneteller bondage exoticisland monst...\n",
      "3    individual terror civilwar israel palestine al...\n",
      "4    usa neo-nazi prison skinhead brotherbrotherrel...\n",
      "Name: soup, dtype: object\n"
     ]
    }
   ],
   "source": [
    "# create a new soup feature\n",
    "md['soup'] = md.apply(createSoup, axis=1)\n",
    "print(md['soup'][0])\n",
    "print(md['soup'].head())"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 37,
   "id": "2ad941ba",
   "metadata": {},
   "outputs": [
    {
     "name": "stdout",
     "output_type": "stream",
     "text": [
      "(4944, 23015)\n",
      "  (0, 198)\t1\n",
      "  (0, 68)\t1\n",
      "  (0, 18982)\t1\n",
      "  (0, 17930)\t1\n",
      "  (0, 15550)\t1\n",
      "  (0, 8555)\t1\n",
      "  (0, 2950)\t1\n",
      "  (0, 8246)\t1\n",
      "  (0, 11345)\t1\n",
      "  (0, 16457)\t1\n",
      "  (0, 18380)\t1\n",
      "  (0, 10655)\t1\n",
      "  (0, 4939)\t1\n",
      "  (0, 20133)\t1\n"
     ]
    }
   ],
   "source": [
    "# the next steps are the same as what you did with your content based recommender\n",
    "# important difference is that we use the CountVectorizer() instead of TF-IDF\n",
    "\n",
    "# import CountVectorizer and create the count matrix\n",
    "from sklearn.feature_extraction.text import CountVectorizer\n",
    "from sklearn.metrics.pairwise import cosine_similarity\n",
    "\n",
    "# use CountVectorizer\n",
    "count = CountVectorizer(stop_words='english')\n",
    "count_matrix = count.fit_transform(md['soup'])\n",
    "print(count_matrix.shape)\n",
    "print(count_matrix[5])"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 38,
   "id": "4651825c",
   "metadata": {},
   "outputs": [],
   "source": [
    " #compute the Cosine Similarity matrix based on the count_matrix\n",
    "cosSimilarity = cosine_similarity(count_matrix, count_matrix)\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 39,
   "id": "567dbb10",
   "metadata": {},
   "outputs": [],
   "source": [
    "# reset index of your main DataFrame and construct reverse mapping as before\n",
    "md = md.reset_index()\n",
    "indices = pd.Series(md.index, index=md['title'])\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 40,
   "id": "c3796057",
   "metadata": {},
   "outputs": [],
   "source": [
    "# function that takes in movie title as input and outputs most similar movies\n",
    "def getReccos(title, cosine_sim=cosSimilarity):\n",
    "    # Get the index of the movie that matches the title\n",
    "    try:\n",
    "        idx = indices[title]\n",
    "    except:\n",
    "        return \"Title Not Found ...\"\n",
    "    # Get the pairwsie similarity scores of all movies with that movie\n",
    "    sim_scores = list(enumerate(cosine_sim[idx]))\n",
    "    # Sort the movies based on the similarity scores\n",
    "    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True)\n",
    "    # Get the scores of the 10 most similar movies\n",
    "    sim_scores = sim_scores[1:11]\n",
    "    # Get the movie indices\n",
    "    movie_indices = [i[0] for i in sim_scores]\n",
    "    # Return the top 10 most similar movies\n",
    "    return md['title'].iloc[movie_indices],sim_scores\n"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": 41,
   "id": "13802ff5",
   "metadata": {},
   "outputs": [
    {
     "data": {
      "text/plain": [
       "'Title Not Found ...'"
      ]
     },
     "execution_count": 41,
     "metadata": {},
     "output_type": "execute_result"
    }
   ],
   "source": [
    "# call the function\n",
    "getReccos('The Godfather')\n",
    "getReccos('Raiders of the Lost Ark')\n",
    "getReccos('Red Sun')"
   ]
  },
  {
   "cell_type": "code",
   "execution_count": null,
   "id": "c40f1f59",
   "metadata": {},
   "outputs": [],
   "source": []
  }
 ],
 "metadata": {
  "kernelspec": {
   "display_name": "Python 3 (ipykernel)",
   "language": "python",
   "name": "python3"
  },
  "language_info": {
   "codemirror_mode": {
    "name": "ipython",
    "version": 3
   },
   "file_extension": ".py",
   "mimetype": "text/x-python",
   "name": "python",
   "nbconvert_exporter": "python",
   "pygments_lexer": "ipython3",
   "version": "3.8.8"
  }
 },
 "nbformat": 4,
 "nbformat_minor": 5
}

getReccos('The Godfather')
getReccos('Raiders of the Lost Ark')
getReccos('Red Sun')

'Title Not Found ...'