In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
df =pd.read_csv("C:/Users/Manoj Yadav/Desktop/New DATA/week 1/gapminder-FiveYearData.csv")

In [5]:
df.head()

       country  year         pop continent  lifeExp   gdpPercap
0  Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1  Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2  Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3  Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4  Afghanistan  1972  13079460.0      Asia   36.088  739.981106

In [6]:
df

          country  year         pop continent  lifeExp   gdpPercap
0     Afghanistan  1952   8425333.0      Asia   28.801  779.445314
1     Afghanistan  1957   9240934.0      Asia   30.332  820.853030
2     Afghanistan  1962  10267083.0      Asia   31.997  853.100710
3     Afghanistan  1967  11537966.0      Asia   34.020  836.197138
4     Afghanistan  1972  13079460.0      Asia   36.088  739.981106
...           ...   ...         ...       ...      ...         ...
1699     Zimbabwe  1987   9216418.0    Africa   62.351  706.157306
1700     Zimbabwe  1992  10704340.0    Africa   60.377  693.420786
1701     Zimbabwe  1997  11404948.0    Africa   46.809  792.449960
1702     Zimbabwe  2002  11926563.0    Africa   39.989  672.038623
1703     Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

[1704 rows x 6 columns]

In [7]:
print(df.shape)

(1704, 6)

In [8]:
print(df.columns)

Index(['country', 'year', 'pop', 'continent', 'lifeExp', 'gdpPercap'], dtype='object')

In [10]:
print(df.dtypes)

country       object
year           int64
pop          float64
continent     object
lifeExp      float64
gdpPercap    float64
dtype: object

In [11]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   year       1704 non-null   int64
 2   pop        1704 non-null   float64
 3   continent  1704 non-null   object
 4   lifeExp    1704 non-null   float64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(3), int64(1), object(2)
memory usage: 80.0+ KB
None

In [12]:
country_df = df['country']

In [13]:
print(country_df.head())

0    Afghanistan
1    Afghanistan
2    Afghanistan
3    Afghanistan
4    Afghanistan
Name: country, dtype: object

In [14]:
print(country_df.tail())

1699    Zimbabwe
1700    Zimbabwe
1701    Zimbabwe
1702    Zimbabwe
1703    Zimbabwe
Name: country, dtype: object

In [15]:
subset = df[['country','continent','year']]
print(subset.head())

       country continent  year
0  Afghanistan      Asia  1952
1  Afghanistan      Asia  1957
2  Afghanistan      Asia  1962
3  Afghanistan      Asia  1967
4  Afghanistan      Asia  1972

In [16]:
print(subset.tail())

       country continent  year
1699  Zimbabwe    Africa  1987
1700  Zimbabwe    Africa  1992
1701  Zimbabwe    Africa  1997
1702  Zimbabwe    Africa  2002
1703  Zimbabwe    Africa  2007

In [17]:
print(df.loc[0])

country      Afghanistan
year                1952
pop          8.42533e+06
continent           Asia
lifeExp           28.801
gdpPercap        779.445
Name: 0, dtype: object

In [18]:
print(df.loc[99])

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

In [20]:
print(df.tail(n=1))

       country  year         pop continent  lifeExp   gdpPercap
1703  Zimbabwe  2007  12311143.0    Africa   43.487  469.709298

In [21]:
print(df.loc[[0,99,999]])

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

In [22]:
print(df.iloc[1])

country      Afghanistan
year                1957
pop          9.24093e+06
continent           Asia
lifeExp           30.332
gdpPercap        820.853
Name: 1, dtype: object

In [23]:
print(df.iloc[99])

country       Bangladesh
year                1967
pop          6.28219e+07
continent           Asia
lifeExp           43.453
gdpPercap        721.186
Name: 99, dtype: object

In [24]:
print(df.iloc[-1])

country         Zimbabwe
year                2007
pop          1.23111e+07
continent         Africa
lifeExp           43.487
gdpPercap        469.709
Name: 1703, dtype: object

In [25]:
print(df.iloc[[0,99,999]])

         country  year         pop continent  lifeExp    gdpPercap
0    Afghanistan  1952   8425333.0      Asia   28.801   779.445314
99    Bangladesh  1967  62821884.0      Asia   43.453   721.186086
999     Mongolia  1967   1149500.0      Asia   51.253  1226.041130

In [28]:
subset =df.loc[:,['year','pop']]
print(subset.head())

   year         pop
0  1952   8425333.0
1  1957   9240934.0
2  1962  10267083.0
3  1967  11537966.0
4  1972  13079460.0

In [29]:
subset = df.iloc[:,[2,4,-1]]
print(subset.head())

          pop  lifeExp   gdpPercap
0   8425333.0   28.801  779.445314
1   9240934.0   30.332  820.853030
2  10267083.0   31.997  853.100710
3  11537966.0   34.020  836.197138
4  13079460.0   36.088  739.981106

In [30]:
small_range =list(range(5))
print(small_range)

[0, 1, 2, 3, 4]

In [31]:
subset = df.iloc[:,small_range]
print(subset.head())

       country  year         pop continent  lifeExp
0  Afghanistan  1952   8425333.0      Asia   28.801
1  Afghanistan  1957   9240934.0      Asia   30.332
2  Afghanistan  1962  10267083.0      Asia   31.997
3  Afghanistan  1967  11537966.0      Asia   34.020
4  Afghanistan  1972  13079460.0      Asia   36.088

In [32]:
print(df.loc[42,'country'])

Angola

In [33]:
print(df.iloc[42,0])

Angola